[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pydantic = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
python-dotenv = "*"
pyhumps = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
