[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
flask = "*"
flask-sqlalchemy = "*"
Flask-SQLAlchemy = "*"
gunicorn = "*"
python-dotenv = "*"
pyhumps = "*"
psycopg2-binary = "*"
flask-migrate = "*"
pydantic = "==1.9"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.10"
